
html {
    -webkit-font-smoothing: antialiased;
    font-size: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
}
p {
    font-size: 1rem;
    line-height: 1.625em;
    font-weight: 300;
}
a {
    font-size: 1em;
    line-height: 1.625rem;
    font-weight: 600;
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}
span {
    color: black;
    font-size: 16px;

}

ul {
    list-style: none
}
li {
    /*margin-top: 1.625em;*/
}
li a {
    display: inline;
}
a {
    color: black;
}
a:hover {
    color: black;
}
/*Header styles */
.header  {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    background-color: white;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header-title {
    padding-left: 10%;
    position: relative;
    cursor: pointer;

}
.name-title {
    font-weight: 300;
    font-size: 25px;
}

#social-icons {
    text-align: right;
    position: relative;
    top: 22px;
    font-size: 12px;

}
#social-icons li {
    display: inline;
    padding-right: 10px;
    padding-left: 10px;

}
#social-icons li a {
    color: black;
}

#social-icons #facebook-icon a:hover{
    border-bottom: 2px solid #3b5998;
    color:#3b5998;
}
#social-icons #twitter-icon a:hover{
    border-bottom: 2px solid #00aced;
    color:#00aced;
}
#social-icons #github-icon a:hover{
    border-bottom: 2px solid black;
    color:black;
}
#social-icons #linkedin-icon a:hover{
    border-bottom: 2px solid #007bb6;;
    color:#007bb6;
}

/*About me Section*/
.aboutme {
    margin-top: 77px;
    height: calc(100vh - 77px);
    width: 100%;
    /*position: absolute;*/
}
.aboutinfo {
    position: relative;
    top: 30%;
    left: 10%;
    color: black;
    width: 50%;
}
.aboutpic {
    position: absolute;
    color: black;
    opacity: 0.30;
    height: calc(100vh - 77px);
    width: 100%;
    background-image: url("../img/aboutme.jpg");
}

/*Projects Section */
.projects {
    /*height: 300px;*/
    width: 100%;

}
/*.projectstitle {
    text-align: center
    border-bottom: 1px solid black;
}*/
/*Project Grid*/

ul.rig {
    list-style: none;
    font-size: 0px;
    margin-left: -3.5%; /* should match li left margin */
}
ul.rig li {
    display: inline-block;
    /*padding-top: 10px;*/
    /*margin: 0 0 2.5% 2.5%;*/
    background: #fff;
    /*border: 1px solid #ddd;*/
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}
ul.rig li .projimg:hover {
    opacity: 0.5;
    cursor: pointer;
}

ul.rig li img {
    max-width: 100%;
    /*height: auto;*/
    margin: 0 0 0px;
}

/* class for 2 columns */
ul.rig.columns-2 li {
    width: calc(100%/2); /* this value + 2.5 should = 50% */
}
/* class for 3 columns */
ul.rig.columns-3 li {
    width: calc(100%/3); /* this value + 2.5 should = 33% */
}
/* class for 4 columns */
ul.rig.columns-4 li {
    width: calc(100%/4); /* this value + 2.5 should = 25% */
}
 
@media (max-width: 480px) {
    ul.grid-nav li {
        display: block;
        margin: 0 0 0;
    }
    ul.grid-nav li a {
        display: block;
    }
    ul.rig {
        margin-left: -10%;
    }
    ul.rig li {
        width: 100% !important; /* over-ride all li styles */
        margin: 0 0 0 ;
    }
}
/*Hover states */
.startupfinder, .spacerun, .carchase{
    position: relative;
}
.startupfindertitle, .spaceruntitle, .carchasetitle{
    position: absolute; 
    visibility: hidden;
    opacity: 0;
    top: 50%;
    left: 30px;
}
.startupfinder:hover .startupfindertitle {
    visibility: visible;
    opacity: 1;
}
.startupfindertitle h1 , .spaceruntitle h1 , .carchasetitle  h1 {
    font-size: 5vh;
}
.playstore {
    height: 8vh;
}

.spacerun:hover .spaceruntitle {
    visibility: visible;
    opacity: 1;
}
.carchase:hover .carchasetitle {
    visibility: visible;
    opacity: 1;
}


/*Work experience section*/
.work {
    /*height: 300px;*/
    padding-top: 20px;
}
.work .title {
    text-align: center;
    border-bottom: 1px solid black;

}

.work hr {
    padding-top: 15px;
}

.work-experience {
    margin-top: 100px;
    text-align: left;
}
.work-experience ul {
    list-style: none;
}

.work-experience .name {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 25px;
}
.work-experience .date {
    position: absolute;
    right: 0;
    margin-right: 40px;
    font-size: 20px;
}
.work-experience .position {
    font-size: 18px;
    font-weight: 600;
}
.work-experience .location {
    position: absolute;
    right: 0;
    margin-right: 40px;
    font-size: 18px;
}
.work-experience .description {
    font-size: 20px;
    padding-top: 25px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 28px;
    padding-bottom: 35px;
}
.work-skills {
    padding-top: 5px;
    padding-bottom: 20px;
}
.tag {
    padding-bottom: 10px;
    padding-top: 10px;
    display: inline-block;
}

.skills-tag {
    border: 1px solid #444;
    text-transform: uppercase;
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 4px;
    border-color: #2980B9;  
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
}

/*Resume Section */
.resume {
    height: 300px;
    padding-top: 20px;
}
.resume .title {
    text-align: center;
    border-bottom: 1px solid black;
}
.resumelink {
    margin-top: 125px;
    text-align: center;
    font-size: 25px;
}
.resumelink :hover {
    color: red;
}
/*
#resume {
    padding-top: 20px;
    background: #f7f8fa;
    padding-bottom: 30px;
    text-align: center;

}
#resume hr {
    padding-top: 15px;
    padding-bottom: 15px;
}
#resume a {
    font-size: 20px;
}


#footer {
    position: relative;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}*/

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.portfolio-modal .modal-content p {
    text-align: left;
}
.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}
.modal-body .playstore {
    height: 100px;
}
.spacerunimg{
    width: 40%;
    hegiht:40%;
}
.carimg{
    width:40%;
    height:40%;
}
.body-text {
    text-align: left;
}